body{
    background-color: #F2C879;
}

#content{
    margin-left: 23%;
    margin-right: 23%;
    background-color: #BF372A;
    border-radius: 10px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    padding-bottom: 50px;
}

.descriptor{
    text-align: center;
    font-family: Philosopher;
    font-size: 20px;
    margin-top: -30px;
}

.title{
    padding-top: 30px;
    text-align: center;
    font-family: Philosopher;
    font-size: 60px;
}

.nav-bar, a, a:visited{
    text-align: center;
    color: #0D0D0D;
    text-decoration: none;
    font-size: 40px;
}

a{
    padding-right: 20px;
}

a:hover{
    text-decoration: underline;
    color: #592202;
}

.menu-item{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border-radius: 5px;
    background-color: #D9AB82;
    border-bottom: solid black;
}

.menu-item:hover{
    background-color: #BF4904;
    cursor: pointer;
}

.item-desc{
    margin-top: -10px;
    margin-left: 5px;
}

.item-title{
    margin-left: 5px;
}

.menu-item-img{
    margin: 0 !important;
    margin-left: 0;
    width: 30%;
    padding: 0;
}

*{
    outline: none;
}